.signInWrapper{
    background-color: white;
    height: 100vh;
    text-align: center;
}

.companyAvatar{
}

.companyNametext{

}

.signOptions{

}

.inputSection{

}

.emailInputDiv{

}

.emailInput{

}

.passwordInputDiv{

}

.passwordInput{

}

.moreOptions{

}

.hrEffectDiv{

}

.loginOptions{

}