/* İmport colours */
@import url("./colours.css");

/* Nav Wrapper */
.nav-wrapper{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 77.25%;
    position: fixed;
    z-index: 1;
}

/* Seacrh bar */
.search-bar{
    max-width: 275px;
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Nav İcons */
.nav-icons{
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search box */
#search-box{
    padding: .5rem;
    width: 75%;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: .83rem;
}
#search-box:focus{
   outline: none;
   border: 1px solid var(--light-blue);
}

/* Upload Btn */
#btn-upload{
    height: 30px;
    cursor: pointer;
}