/* Feed Settings */
.posts-wrapper{
    width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-right: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

/* User İnfo */
.user-info-wrapper{
    max-width: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border-radius: 25px;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.status{
    margin-left: .5rem;
    color: var(--bg-icons);
    font-weight: bold;
}

#pp-post{
    height: 50px;
}
/* Photo Settings */
.post-image{
    width: 100%;
    display: flex;
    justify-content: center;
}
#post-image{
    max-width: 650px;
    width: 100%;
}

/* Options */
.options-wrapper {
    max-width: 650px;
    width: 100%;
    background-color: var(--bg);
    border-radius: 25px;
    padding: .5rem;
}

/* İcons */
.action-icons{
    display: flex;
    list-style-type: none;
}
.action-icon{
    margin: 0 .5rem;
    font-size: 1.25rem;
}


#option-user-name{
    margin-left: 0;
    min-width: 100px;
}

.texts{
    display: flex;
}
