.postCard {
    width: 615px;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-top: 25px;
}

.postHeader {
    height: 60px;
    width: 615px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}

.postAvatar {
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
}

.postAvatarUsername {
    margin-top: 20px;
    font-weight: bold;
}

.postIcon {
    min-width: 25px;
    min-height: 25px;
    margin: 5px;
}

.iconContainer {
    margin-left: 10px;
}

.postLikeText {
    font-weight: bold;
    margin-left: 15px;
}

.comment {
    margin: 15px;

}

.commentInput {
    height: 55px;
    width: 603px;
    border: 1px solid #dbdbdb;
    font-size: 16px;
    padding-left: 10px;
}