@import url("./colours.css");

.stories-wrapper{
    min-height: 125px;
    max-height: 150px;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;

    /* Horizontal Scroll */
    overflow: auto;
    white-space: nowrap;
}

.stories-wrapper::-webkit-scrollbar{
    display: none;
}


/* Stroies */
#story-container{
    list-style-type: none;
    display: flex;
}
.story{
    margin: 0 .85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.story-image{
    height: 60px;
    border-radius: 10px;
}
.story-user-name{
    margin-top: .25rem;
    color: var(--bg-icons);
}
